@import './variables';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400&display=swap');

#app {
  max-width: 1300px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  padding: 20px 40px;

  @include breakpoint($screen-lg) {
    padding: 30px 60px;
  }
}

.section {
  padding: 60px 0;
}
